<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1>
               <i class="fa-solid fa-user-plus"></i>&nbsp;
                    Add Contact Page
               
            </h1>
            <p style="text-align:justify">
                This is dummy data: Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ut laudantium
                rerum velit nostrum cumque blanditiis ab, hic esse fuga vero eum expedita, quod consequuntur amet iusto,
                obcaecati deleniti! Ratione! Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, eveniet
                sequi. Voluptatum aperiam, ducimus dignissimos officia saepe provident nobis. Qui, ipsam voluptatem.
                Tempore, exercitationem. Ex quaerat unde architecto ipsa ab.
            </p>
        </div>
    </div>

    <pre>
        {{contact | json}}
    </pre>
    <!-- Add contact form -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form class="border p-3 rounded">
                    <div class="mb-2">
                        <input name="id" [(ngModel)]="contact.id" placeholder="contact ID" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="contactName" [(ngModel)]="contact.name" placeholder="Name" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input  name="photo" [(ngModel)]="contact.photo" placeholder="PhotoURL" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="email" [(ngModel)]="contact.email" placeholder="Email ID" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="mobile" [(ngModel)]="contact.mobile" placeholder="Mobile Number" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="company" [(ngModel)]="contact.company" placeholder="Company Name" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="title" [(ngModel)]="contact.title" placeholder="Title" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                       <select name="groupId" [(ngModel)]="contact.groupId" id="" class="form-control">
                        <option value="" selected hidden disabled>Select A Group</option>
                       <option value="{{group.id}}" *ngFor="let group of allGroups">{{group.name}}</option>
                       
                      </select>
                    </div>
                    <div class="mb-2">
                        <input (click)="addContact()" value="Create" type="button" class="btn btn-success">
                    <a routerLink="/" class="btn btn-warning ms-3">Close</a>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <img [src]="contact.photo"
                alt="no image" class="contact_image mt-5">

            </div>
        </div>
    </div>
</div>
