<div class="container mt-4 title">
    <div class="row">
        <div class="col">
            <h1>
               <i class="fa-solid fa-eye"></i>&nbsp;
                   View Contact Page
               
            </h1>
            <p style="text-align:justify">
                This is dummy data: Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ut laudantium
                rerum velit nostrum cumque blanditiis ab, hic esse fuga vero eum expedita, quod consequuntur amet iusto,
                obcaecati deleniti! Ratione! Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, eveniet
                sequi. Voluptatum aperiam, ducimus dignissimos officia saepe provident nobis. Qui, ipsam voluptatem.
                Tempore, exercitationem. Ex quaerat unde architecto ipsa ab.
            </p>
        </div>
    </div>

    <!-- <pre>
        {{contact | json}}
    </pre> -->
    <!-- view contact details -->
    <div class="container mt-4 mb-5">
        <div class="row border p-5 align-items-center">
            <div class="col-md-4">
                <!-- contact image -->
                <img width="200px" [src]="contact.photo"
                alt="no image" >
                <br>
                <a class="btn btn-warning ms-4 mt-2" routerLink="/">
                    <i class="fa-solid fa-circle-left"></i>
                    Go Back</a>
            </div>
            <div class="col-md-8">
                <!-- contact details -->
                <ul class="list-group">
                    <li class="list-group-item">Name: <b>{{contact.name}}</b></li>
                    <li class="list-group-item">Email: <b>{{contact.email}}</b></li>
                    <li class="list-group-item">Mobile: <b>{{contact.mobile}}</b></li>
                    <li class="list-group-item">Company: {{contact.company}}</li>
                    <li class="list-group-item">Title: <b>{{contact.title}}</b></li>
                    <li class="list-group-item">Group: <b>{{groupName}}</b></li>
                  </ul>
            </div>
        </div>
    </div>