/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Courgette&family=Lobster&family=Poppins:ital,wght@1,100&family=Ultra&display=swap');

.title{
    font-family: 'Lobster', cursive;
}
.contact_image{
    width: 120px;
    border-radius: 50%;
}
